.responsive-card {
	border-bottom: solid 1px var(--color-decorations);
	padding-bottom: var(--line-height);
}

@media (width > 38rem) {
	.responsive-card {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-template-rows: max-content auto;
		grid-template-areas: "headline image" "text image";
		column-gap: var(--column-gap);

		padding-bottom: var(--section-gap);
		padding-top: calc(var(--section-gap) - var(--row-gap));

		h3 {
			grid-area: headline;
		}
		.card-text {
			grid-area: text;
		}
		.image-container {
			grid-area: image;
			align-self: start;
		}
	}
}

// Select any .responsive-card within a .grid-row which is not directly followed by a .grid-row containing a .responsive-card
.grid-row:not(:has(+ .grid-row .responsive-card)) .responsive-card {
	border-bottom: none !important;
	padding-bottom: 0 !important;
}
