# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/public/media/*
!/public/media/index.html
/dev/php_errors.log

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------

*.sublime-workspace
/.vscode
/.idea
/.nova

# Composer dependencies
# ---------------------

/vendor

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Accounts
# ---------------

/data/storage/accounts/*
!/data/storage/accounts/.gitkeep

# Runtime Files
# ---------------

/data/runtime/*
!/data/runtime/cache/.gitkeep
!/data/runtime/logs/.gitkeep
!/data/runtime/sessions/.gitkeep

# License
# ---------------

/data/storage/.license
