# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/public/media/*
!/public/media/index.html
/dev/php_errors.log

# Large files
# -------------

*.avi
*.mkv
*.mov
*.mp4
*.webm
*.wmv

*.mp3
*.wav
*.aac
*.flac
*.ogg

*.zip
*.rar
*.7z
*.tar
*.gz

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------

*.sublime-workspace
/.vscode
/.idea

# Composer dependencies
# ---------------------

/vendor

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Accounts
# ---------------

/data/storage/accounts/*
!/data/storage/accounts/.gitkeep

# Runtime Files
# ---------------

/data/runtime/*
!/data/runtime/cache/.gitkeep
!/data/runtime/logs/.gitkeep
!/data/runtime/sessions/.gitkeep

# License
# ---------------

/data/storage/.license
