RewriteEngine On
RewriteBase /

Redirect /proximity /public/downloads/Proximity-by-Wenzel-Massag_mail-AT-wenzelmassag.de.pdf
Redirect /portfolio-de /public/downloads/Portfolio-DE-2026_4.pdf
Redirect /portfolio-en /public/downloads/Portfolio-EN-2026_4.pdf

# Use Apache multi language features
Options +MultiViews
LanguagePriority en de
ForceLanguagePriority Fallback

# DETECT user chose language if available and save as cookie
RewriteCond %{QUERY_STRING} (?:^|&)lang=auto(?:&|$) [NC]
RewriteRule ^(.*)$ $1 [CO=pref_lang:deleted:wenzelmassag.de:-1:/,QSD,R=302,L]

RewriteCond %{QUERY_STRING} (?:^|&)lang=(en|de)(?:&|$) [NC]
RewriteRule ^(.*)$ $1 [CO=pref_lang:%1:wenzelmassag.de:576000:/,QSD,R=302,L]

# USE user selected language
SetEnvIf Cookie "pref_lang=en" prefer-language=en
SetEnvIf Cookie "pref_lang=de" prefer-language=de
