@use 'ions/colors';
@use 'ions/fonts';

body {
	font-family: var(--font-family);
	color: var(--color-text);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
}
article, div, fieldset, figcaption, footer, header, li, main, nav, noscript, section, table, tfoot {
	margin: 0;
}
address, aside, audio, blockquote, canvas, dd, dl, dt, figure, form, h1, h2, h3, h4, h5, h6, hr, ol, p, picture, pre, ul, video, .image-container {
	margin-block: var(--line-height);
	margin-inline: 0;
}
h1 {
	max-width: var(--headline-max-width);
	margin-block-start: 0;
}
h2 {
	margin-block-start: var(--section-gap);
}
@media (min-width: 38rem) {
	address, article, aside, blockquote, div, dl, fieldset, figcaption, footer, header, main, nav, ol, ul {
		& > :first-child:not(h1, h2) {
			margin-block-start: 0;
		}
		& > :last-child {
			margin-block-end: 0;
		}
	}
}
@media (width < 38rem) {
	address, article, aside, blockquote, div, dl, fieldset, figcaption, footer, header, main, nav, ol, ul {
		h1, h2 {
			max-width: 100%;
		}
		h3, h4, h5, h6 {
			margin-block-end: calc(var(--line-height) / 2);
		}
	}

	img {
		margin-block: var(--line-height);
	}

	p {
		margin-block: calc(var(--line-height) / 3);
	}

	picture, img {
		margin-block: 0;
	}
}
a, a:link, a:active, a:visited {
	color: var(--color-text);
	text-decoration-color: var(--color-text-ci-1);
	text-decoration-thickness: .1875rem;
	text-underline-offset: .125rem;
}
a:hover, a:focus, a:focus-visible {
	color: var(--color-text-ci-1);
}
.logotype {
	:first-child {
		font-weight: var(--font-weight-strong);
		color: var(--color-text);
	}
	:last-child {
		font-weight: var(--font-weight);
		color: var(--color-text-ci-1);
	}
}

h1 {
	font-size:  var(--font-size-h1);
	line-height: var(--line-height-h1);
	font-weight: var(--font-weight-heading);
	color: var(--color-text-extra-large);
}
h2 {
	font-size: var(--font-size-h2);
	line-height: var(--line-height-h2);
	font-weight: var(--font-weight-heading);
	color: var(--color-text-large);
}
h3, h4, h5, h6 {
	line-height: var(--line-height);
}
h3 {
	font-size:  var(--font-size-h3);
	font-weight: var(--font-weight-heading);
	color: var(--color-text-large);
}
h4 {
	font-size:  var(--font-size);
	font-weight: var(--font-weight-heading);
	color: var(--color-text);
}
h5 {
	font-size:  var(--font-size-S);
	font-weight: var(--font-weight-heading);
	color: var(--color-text-large);
}
h6 {
	font-size:  var(--font-size-S);
	font-weight: var(--font-weight);
	color: var(--color-text-large);
	text-decoration: underline;
}

p {
	margin-block: var(--line-height);
}

strong {
	font-weight: var(--font-weight-strong);
}

blockquote {
	padding: var(--line-height) var(--gap);
	border-left: solid var(--line-thickness) var(--color-ci-1-50);
	box-sizing: border-box;
	font-style: italic;
	background: var(--color-group-background);

	footer {
		&::before {
			content: "— ";
		}
		border-top: solid .5px var(--clor-text);
		font-size: var(--font-size-S);
		font-style: normal;
		font-weight: var(--font-weight-increase-contrast);
		color: var(--color-text-dimmed);
	}
}
