@use 'typography';
@use 'layout';

@use 'ions/numbers';
@use 'atoms/figure';
@use 'molecules/main-navigation';
@use 'molecules/responsive-card';
@use 'molecules/form';
@use 'molecules/alert';

html {
	interpolate-size: allow-keywords; //If supported, allow transitions between sizes such as "auto" and a percentage or pixel-value
	scroll-behavior: smooth;
}
body {
	background: var(--color-page);
}

