:root {
	color-scheme: light dark;
	--color-ci-1-50: #0A60A3;
	--color-ci-1-60: #0c7dd3;
	--color-ci-1-90: #cee8fc;
	--color-neutral-bg: var(--color-ci-1-90);

	--color-error: #C9450D;
	--color-error-bg: #fbd8cf;

	--color-success: #128242;
	--color-success-bg: #d2f8e2;

	--color-decorations: color-mix(in oklab, var(--color-ci-1-50) 20%, transparent);
	--color-text: black;
	--color-text-ci-1: var(--color-ci-1-50);
	--color-text-on-ci-1-50: white;
	--color-text-large: #3F4040;
	--color-text-extra-large: #4C4D4D;
	--color-page: white;
	--color-input-surface: #F0F0F0;
	--color-text-input-placeholder: #6F6D6E;
	--color-group-background: #F0F0F0;
	--color-text-dimmed: #6F6D6E;

	--dominant-color: oklch(0 0 249.68); // Fallback, usually images bring their own dominant color.
}

@media screen and (prefers-color-scheme: dark){
	:root {
		--color-ci-1-10: #001c33;
		--color-ci-1-50: #005FA8;
		--color-ci-1-60: #1579c5;
		--color-neutral-bg: var(--color-ci-1-10);

		--color-error: #B84600;
		--color-error-bg: #331300;

		--color-success: #176D3D;
		--color-success-bg: #082a17;

		--color-text: #F0F0F0;
		--color-text-ci-1: var(--color-ci-1-60);
		//--color-text-on-ci-1-50: white; // unchanged compared to light mode
		--color-text-large: #E3E3E3;
		--color-text-extra-large: #C7C7C7;
		--color-page: black;
		--color-input-surface: #191A1A;
		--color-text-input-placeholder: #6F6D6E;
		--color-group-background: #191A1A;
		--color-text-dimmed: #6F6D6E;
	}
}
