:root {
	--font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

	--font-weight: 300;
	--font-weight-strong: 500;
	--font-weight-increase-contrast: 400;
	--font-weight-heading: 500;

	// Font-scale designed to reach min at 24 REM and max at 52 REM

	// Font-sizes
	--font-size-h1: clamp(2rem, 0.2857rem + 7.1429vw, 4rem);
	--font-size-h2: clamp(1.5rem, 1.0714rem + 1.7857vw, 2rem);
	--font-size-h3: clamp(1rem, 0.7429rem + 1.0714vw, 1.3rem); // max value must fit within --line-height to ensure vertical rhythm across columns
	--font-size-S: .9rem;

	--line-height: 1.5rem;
	--line-height-h2: calc(1em + .5rem);
	--line-height-h1: calc(1em + .5rem);
}
@media screen and (prefers-color-scheme: dark){
	:root {
		--font-weight: 400;
		--font-weight-strong: 900;
		--font-weight-increase-contrast: 500;
		--font-weight-heading: 500;
	}
}
