.visually-hidden {
	clip: rect (0 0 0 0);
	clip-path: inset(-50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	opacity: 0;
}

@mixin glass-look() {
	box-shadow: 0 0 var(--box-shadow-XXL) oklch(from var(--dominant-color) l c h / 20%),
		0 0 var(--box-shadow) oklch(from var(--color-text) l c h / 10%);
	outline: solid 1px oklch(from var(--dominant-color) 1 min(c, .2) h / 14%);
	border-top: solid 1px oklch(1 0 0 / .4);
	border-bottom: solid 1px oklch(1 0 0 / .2);
	outline-offset: -.5px;

	@media screen and (prefers-color-scheme: dark) {
		box-shadow: 0 0 var(--box-shadow-XXL) oklch(from var(--dominant-color) clamp(.6, l, .7) c h / 50%),
			0 0 var(--box-shadow) oklch(0 0 0 / 100%);
	}

	&.noShadow {
		box-shadow: none !important;
		outline: none !important;
		border-top: none !important;
		border-bottom: none !important;
	}
}
