:root {
	--border-radius-S: 4px;
	--border-radius: 8px;

	--transition-duration: 180ms;
	--transition-duration-L: 260ms;
	--transition-duration-XL: 480ms;

	--box-shadow: var(--line-height);
	--box-shadow-L: calc(var(--box-shadow) * 2);
	--box-shadow-XL: calc(var(--box-shadow-L) * 2);
	--box-shadow-XXL: calc(var(--box-shadow-XL) * 2);

	--gap: 2rem;
	--gap-S: calc(var(--gap) / 2);

	--column-gap: var(--gap);
	--row-gap: calc(var(--line-height) * 2);
	--section-gap: calc(var(--line-height) * 3);

	--vertical-gap-S: calc(var(--column-gap) / 2);

	@media (width < 52rem) {
			--section-gap: var(--line-height);
	}
	@media (width < 38rem) {
			--section-gap: var(--row-gap);
	}

	--line-thickness: .125rem;
}
