@use '../ions/helpers';

img {
	display: block;
	width: 100%;
	height: auto;

	border-radius: var(--border-radius);

	&.shadow {
		@include helpers.glass-look();
	}
}

.image-container {
		position: relative;

	&.shadow::after {
		border-radius: var(--border-radius);
		position: absolute;
		inset: 0;
		content: "";
		@include helpers.glass-look();
		z-index: -1;
	}
}

figure:has(img) {
	position: relative;
	z-index: 1;

	p {
		margin: calc(var(--line-height) / 2) var(--vertical-gap-S) !important;
		max-width: 33rem;
	}
}

@media (pointer: fine) {
	figure:has(img) {
		border-radius: var(--border-radius);
		overflow-x: hidden;
		overflow-y: scroll;

		img {
			position: sticky;
			top: 0;
			box-shadow: none;
			border: none;
			outline: none;
		}

		figcaption {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			min-height: 100%;
			margin-block: 0;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			background-color: oklch(from var(--color-page) l c h / 80%);
			backdrop-filter: blur(25px);
			opacity: 0;

			transition-property: opacity;
			transition-duration: var(--transition-duration-L);
		}

		&:focus, &:focus-within, &:hover {
			figcaption {
				opacity: 1;
			}
		}
	}
}
@media (pointer: coarse) {
		figure:has(img) {
		border-radius: var(--border-radius);
		overflow: hidden;
		background-color: var(--color-page);

		img {
			box-shadow: none;
			border: none;
			border-bottom: solid .5px var(--color-ci-1-50);
			border-radius: 0;
			outline: none;
		}

		figcaption {
			font-size: var(--font-size-S);
			font-weight: var(--font-weight-increase-contrast);
		}
	}
}
